@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font & theme */
:root {
  --background: #0b0b14;
  --foreground: #ffffff;
}

* {
  font-family: "Rubik", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0b14;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Rubik, sans-serif !important;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Sticky header menu spacing fix */
section {
  scroll-margin-top: 80px;
}

/* Ant design overrides (if used) */
.ant-select-selector {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}


.bg-grid-pattern {
  background-size: 60px 60px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  mask-image: linear-gradient(to bottom, black 100%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 100%, transparent 100%);
}

/*======================================= Custom all Animaiton here  ==========================================*/

.marquee {
  animation: marquee 25s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.marquee:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.marquee2 {
  animation: marquee2 25s linear infinite;
}

@keyframes marquee2 {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}

.marquee2:hover {
  animation-play-state: paused;
  cursor: pointer;
}